#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=LinkedIn
Exec=/opt/google/chrome/google-chrome "--app=https://linkedin.com" --user-data-dir=/home/jhamit/Documents/system/webapps/linkedin/config
Icon=/home/jhamit/Documents/system/webapps/linkedin/icon.png
StartupWMClass=linkedin
