#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Facebook
Exec=/opt/google/chrome/google-chrome "--app=https://facebook.com" --user-data-dir=/home/jhamit/Documents/system/webapps/facebook/config
Icon=/home/jhamit/Documents/system/webapps/facebook/icon.png
StartupWMClass=facebook
