#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GitHub
Exec=/opt/google/chrome/google-chrome "--app=https://github.com" --user-data-dir=/home/jhamit/Documents/system/webapps/github/config
Icon=/home/jhamit/Documents/system/webapps/github/icon.png
StartupWMClass=github
