#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/opt/google/chrome/google-chrome "--app=https://gmail.com" --user-data-dir=/home/jhamit/Documents/system/webapps/gmail/config
Icon=/home/jhamit/Documents/system/webapps/gmail/icon.png
StartupWMClass=gmail
